.missionTable {
    /* padding: 0px 40px;
    margin: 20px; */
    
}
.filterTable {
    margin: 20px;
    background: white;
}
p {
    font-weight: bold;
    font-size: 13px;
}

button {
    background: #c5e09b;
    border-radius: 3px;
    cursor: pointer;
    outline: none;
    border: none;
    padding: 3px 10px;
}
span {
    font-weight: 400;
    padding: 0px 10px;
}
.mainData {
    text-align: center;
    margin: 20px;
    padding: 18px;
    background: white;
}
.missionImg {
    text-align: left
}

.img {
    width: 100%;
    background: #e4e4e4;
}
.metadata {
    text-align: left;
}
.title {
    color: cornflowerblue;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.yearTable:after {
    content: "";
    display: table;
    clear: both;  
}
.yearItem {
    float: left;
    width: 50%;
    padding: 7px 0px;
}

.main {
    background: #e4e4e4;
}

.main:after {
    content: "";
    display: table;
    clear: both; 
}

.filter {
    float: left;
    width: 100%
}

.years {
    text-align: center
}

.launchBlock {
    margin-top: 25px;
    text-align: center
}

.landBlock {
    margin-top: 20px;
    padding-bottom: 20px;
    text-align: center
}

.filterTitle {
    font-weight: bold;
    font-size: 30px;
    margin-top: 20px;
}
.launchSuccess {
    border-bottom: 1px solid black;
    margin: 10px;
    padding: 5px;
}
.launchYear {
    border-bottom: 1px solid black;
    margin: 16px;
    padding: 5px;
}
.launchLand {
    border-bottom: 1px solid black;
    margin: 10px;
    padding: 5px;
}
.spaceTitle {
    font-weight: bold;
    font-size: 25px;
    padding-top: 10px;
}

.active {
    background: yellowgreen;
}
@media screen and (min-width: 700px) {
    .container:after {
        content: "";
        display: table;
        clear: both;      
    }

    .missionTable {
        float: left;
        width: 50%;
    }

    .left {
        width: 25%;
    }
    
    .right {
        width: 75%;
    }

    .mainData {
        height: 500px;
    }
    .spaceTitle {
        font-weight: bold;
        font-size: 30px;
    }
}

@media screen and (min-width: 1024px ) {
    .container:after {
        content: "";
        display: table;
        clear: both;      
    }

    .missionTable {
        float: left;
        width: 25%;
    }

    .mainData {
        height: 380px;
    }

    .launchSuccess {
        border-bottom: 1px solid black;
        margin: 10px 45px;
        margin-bottom: 10px;
        padding: 5px;
    }
    .launchYear {
        border-bottom: 1px solid black;
        margin: 0px 45px;
        margin-bottom: 10px;
        padding: 5px;
    }
    .launchLand {
        border-bottom: 1px solid black;
        margin: 0px 45px;
        margin-bottom: 10px;
        padding: 5px;
    }
    .spaceTitle {
        font-weight: bold;
        font-size: 40px;
    }
}




